/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
**************************************************
*UNCOMMON
**************************************************
*/

.logo {
    padding-right: 120px;
}

.login {
    padding-left: 120px;
}

.link {
    padding: 0 120px;
}

.flex-container {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: sans-serif;
}


/*
**************************************************
*MAIN
**************************************************
*/

.main {
    height: 100%;
}


/*
**************************************************
*HEADER
**************************************************
*/


header {
    justify-content: center;
    align-items: center;
}

/*
**************************************************
*UTILITIES
**************************************************
*/

.margin-auto {
    margin: 0 auto;
}

.height-400px {
    height: 400px;
}

.height-60px {
    height: 60px;
}

.bg-pink {
    background-color: pink;
}

.bg-dark-blue {
    background-color: darkblue;
}

.bg-flower-blue {
    background-color: cornflowerblue;
}

.bg-light-blue {
    background-color: lightblue;
}

.bg-green {
    background-color: green;
}

.bg-dark-cyan {
    background-color: darkcyan;
}

.bg-orange {
    background-color: orange;
}

.bg-magenta {
    background-color: magenta;
}

.bg-gray {
    background-color: gray;
}

.bg-white {
    background-color: white;
}
.bg-black {
    background-color: black;
}

.bg-dark-salmon {
    background-color: darksalmon;
}

.bg-cyan {
    background-color: cyan;
}

.dashed-border {
    border: 2px;
    border-color: black;
    border-style: dashed;
}


/*
**************************************************
*DEBUG
**************************************************
*/
/* 


body {
    background-color: aqua;
} */