/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
**************************************************
*UNCOMMON
**************************************************
*/

.box-magenta {
    justify-content: center;
    align-items: center;
    margin: auto auto;
    width: 750px;
    height: 300px;
}

.box-azzurro {
    width: 60%;
    height: 400px;
    
}

.box-rosa {
    width: 40%;
    height: 400px;
    
}

.box-verde {
    width: 1300px;
    height: 650px;
    
    
}

section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
}








.root {
    flex-direction: column;
    flex-shrink: 1;
}




.logo {
    padding-right: 120px;
}

.login {
    padding-left: 120px;
}

.link {
    padding: 0 120px;
    max-height: 20px;
    justify-content: space-between;
}

.flex-container {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
    max-height: 20px;
}

body {
    font-family: sans-serif;
}


.box-salmon {
    width: 40%;
    height: 80%;
}

.box-cyan {
    height: 80%;
    width: 315px;
}

.container-box-ciane {
    width: 40%;
    height: 80%;
}








/*
**************************************************
*HEADER
**************************************************
*/


header {
    justify-content: center;
    align-items: center;
}


/*
**************************************************
*MAIN
**************************************************
*/

.main {
    height: 100%;
}



/*
**************************************************
*FOOTER
**************************************************
*/

footer {
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    justify-content: center;
    align-items: center;
    

}

.logo2 {

}

.bottone {
    
}

.fake-link {

    padding: 0 120px;
    max-height: 20px;
    justify-content: space-between;
}








/*
**************************************************
*UTILITIES
**************************************************
*/

.margin-auto {
    margin: auto auto;
}




/* ALTEZZE  */

.height-400px {
    height: 400px;
}

.height-60px {
    height: 60px;
}

.height-900px {
    height: 900px;
}

.height-600px {
    height: 600px;
}


/* COLORI SFONDO */

.bg-pink {
    background-color: pink;
}

.bg-dark-blue {
    background-color: darkblue;
}

.bg-flower-blue {
    background-color: cornflowerblue;
}

.bg-light-blue {
    background-color: lightblue;
}

.bg-green {
    background-color: green;
}

.bg-dark-cyan {
    background-color: darkcyan;
}

.bg-orange {
    background-color: orange;
}

.bg-magenta {
    background-color: magenta;
}

.bg-gray {
    background-color: gray;
}

.bg-white {
    background-color: white;
}
.bg-black {
    background-color: black;
}

.bg-dark-salmon {
    background-color: darksalmon;
}

.bg-cyan {
    background-color: cyan;
}

/* BORDO TRATTEGGIATO */

.dashed-border {
    border: 2px;
    border-color: black;
    border-style: dashed;
}


/*
**************************************************
*DEBUG
**************************************************
*/
/* 


body {
    background-color: aqua;
} */